<div class="row">
	<div class="col-sm-12"> 
        <div class="panel panel-white no-border-radius">
            <div class="panel-heading">
                <h4>Time Entry</h4>  
                <ul class="panel-header-actions border-light"> <!-- TIME Menu -->
                    <li>
                        <div class="dropdown">
                            <span class="fa fa-gears fa-2x dropdown-toggle"></span>                        
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="javascript:void(0)" ng-click="treeOPT.editItems=!treeOPT.editItems">
                                        <span class="fa" ng-class="{'fa-pencil-square-o':!treeOPT.editItems, 'fa-check':treeOPT.editItems}"></span> 
                                        <span ng-if="!treeOPT.editItems">Edit Time Items</span><span ng-if="treeOPT.editItems">Done Editing</span>
                                    </a>                                 
                                </li>             
                            </ul>
                        </div>
                    </li>                   
                    <li ng-if="treeOPT.editItems">
                        <button class="btn-none" ng-click="treeOPT.editItems=0"><span class="fa fa-check fa-2x"></span></button>
                    </li> 
                </ul>                  
            </div>
            <div class="panel-body">
                <div class="form-inline margin-bottom-M">   
                    <button type="button" class="btn btn-default" ng-click="loadDate(-1)"><span class="fa fa-caret-left"></span></button>
                    <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="dt" ng-click="open($event, item.$$hashKey)" is-open="opened[item.$$hashKey]">
                    <button type="button" class="btn btn-default"  ng-click="loadDate(1)"><span class="fa fa-caret-right"></span></button>
                    <input ng-model="treeInputsearch" type="text" placeholder="Filter" class="form-control"> 
                </div>
                <div class="table-responsive">                        
                    <table class="table table-bordered table-hover table-nonfluid table-vertical-middle">
                        <thead>
                            <tr><th>Company</th><th>Projects</th><th>Hours</th><th>Comments</th><th ng-if="treeOP.editItems">Actions</th></tr>
                        </thead>
                        <tbody>
                             <tr ng-repeat="obj in treeTable | filter:treeInputsearch track by $index">
                                <td>{{obj.path[0].title}}</td>
                                <td>
                                    <span class="label label-default margin-right-M" ng-repeat="item in obj.path" ng-show="!$first">{{item.title}}</span>
                                    <span class="label label-primary">{{obj.title}}</span>
                                </td>
                                <td>
                                <form name="myform" class="form-inline"> 
                                    <input type="text" class="form-control" name="price_field" ng-model="obj.time" ng-pattern="/(^\d{1,2}(?:\.\d{1})?$)|(^\d{4}(\-)\d{4})/" placeholder="Time" ng-model-options="{updateOn: 'blur'}">
                                    <p class="text-danger" ng-show="myform.price_field.$error.pattern">
                                        Valid times:<br />
                                        1. Hours <strong>1.5</strong><br />2. From-To <strong>1000-1200</strong></span>
                                    </p>
                                </form>
                                </td>
                                <td>
                                <input type="text" class="form-control" ng-model="obj.comment" placeholder="Comment" ng-model-options="{updateOn: 'blur'}"/>
                                </td>
                                <td ng-if="treeOP.editItems">
                                    <button type="button" ng-click="treeInputTableCopy(obj, $index)" class="btn-none">
                                        <span class="fa fa-files-o"></span>
                                    </button>                    
                                    <button type="button" modal-confirm title="Confirm" text="Delete Entry?" function="treeInputTableRemove($index)" class="btn-none">
                                        <span class="fa fa-trash-o"></span>
                                    </button>                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>              