<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-white no-border-radius">
            <div class="panel-heading">
                <h4>Projects</h4> 
                <ul class="panel-header-actions border-light"> <!-- PROJECTS Menu -->
                    <li>
                        <div class="dropdown">
                            <button class="btn-none dropdown-toggle"><span class="fa fa-gears fa-2x"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="javascript:void(0)" ng-click="showAllProjects=0">
                                        <span class="fa fa-check" ng-class="{'vis-hidden': showAllProjects}"></span>
                                        Show only assigned projects
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" ng-click="showAllProjects=1">
                                        <span class="fa fa-check" ng-class="{'vis-hidden': !showAllProjects}"></span>
                                        Show all projects
                                    </a>
                                </li>             
                            </ul>
                        </div>
                    </li> 
                </ul>                                 
            </div>
            <div class="panel-body">  
                <div ng-if="!showAllProjects">  
                    Assigned Projects
                </div>
                <div ng-if="showAllProjects">                      
                    <div s-select model="timeCompany.title" source="treeOPT.companies" source-display="title" function="timeUpdate(item)" title="Company Name" drop-menu="true" drop-icon="fa-building-o">
                    </div>
                    <div class="tree tree-list pull-left min-width33" ng-if="treeOPT.selectedComp.projects">
                        <button type="button" class="tree-close" ng-click="resetTreeView()">&times;</button>
                        <ul>
                            <li clickable-tree source="treeOPT.selectedComp" selected="treeOPT.tmpobj.id" function="treeNewentry(source)"></li>
                        </ul>
                    </div>                
                </div>
            </div>           
        </div>
    </div>
    <div class="col-sm-9">
        <div class="panel panel-white no-border-radius">
            <div class="panel-heading">
                <h4>Timer</h4>
                <ul class="panel-header-actions border-light"> <!-- Timer Menu -->
                    <li>
                        <div class="dropdown">
                            <button class="btn-none dropdown-toggle"><span class="fa fa-gears fa-2x"></span></button>                        
                            <ul class="dropdown-menu" role="menu">
                                <li menu-enabled-disabled source="showListControls" text="Controls"></li>
                                <!--<li>
                                    <a href="javascript:void(0)" ng-click="showListControls=0">
                                        <span class="fa fa-check" ng-class="{'vis-hidden': showListControls}"></span>
                                        Show Controls
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" ng-click="showListControls=1">
                                        <span class="fa fa-check" ng-class="{'vis-hidden': !showListControls}"></span>
                                        Hide Controls
                                    </a>
                                </li> -->            
                            </ul>
                        </div>
                    </li>  
                </ul>
            </div>
            <div class="panel-body"> 
                <div class="table-responsive margin-top-M" ng-if="treeNew.length">                        
                    <table class="table table-nonfluid table-vertical-middle">            
                        <thead>
                            <tr><th>Company</th><th>Project</th><th>Actions</th><th>Time</th><th>Comments</th></tr>
                        </thead>
                        <tbody>
                             <tr ng-repeat="obj in treeNew track by $index">
                                <td>{{obj.cmptitle}}</td>
                                <td><span class="label label-primary">{{obj.prjtitle}}</span></td>
                                <td>
                                <button ng-disabled="checktimer(obj, 'start')" type="button" ng-click="timeTimerstart(obj)" class="btn btn-default">Start <span class="fa fa-caret-right"></span></button>
                                <button ng-disabled="checktimer(obj, 'pause')" type="button" ng-click="timeTimerpause(obj)" class="btn btn-default">Pause <span class="fa fa-pause"></span></button>
                                <button ng-disabled="checktimer(obj, 'stop')" type="button" ng-click="timeTimerstop(obj)" class="btn btn-default">Stop <span class="fa fa-stop"></span></button>
                                </td>
                                <td>
                                    <span ng-if="obj.state!=3">{{calctime(obj)}}</span>
                                    <input ng-if="obj.state==3" type="text" class="form-control width60" ng-model="obj.time" />
                                </td>
                                <td>
                                    <textarea class="form-control single-line" ng-model="obj.comment" placeholder="Comment"></textarea>
                                </td> 
                                <td>
                                    <button ng-if="showListControls" type="button" modal-confirm title="Confirm" text="Delete Entry?" function="itemRemove($index)" class="btn btn-default">
                                        <span class="fa fa-trash-o"></span>
                                    </button>
                                </td>                   
                            </tr>
                        </tbody>
                    </table>            
                </div>
            </div>
        </div>                            
    </div>
</div>                    