<div class="row">
	<div class="col-sm-3">
		<div class="panel panel-white no-border-radius">
            <div class="panel-heading">
            	<h4>Projekte</h4> 
                <ul class="panel-header-actions border-light"> <!-- PROJECTS Menu -->
                    <li class="dropdown">
                        <a class="dropdown-toggle dropdown-options"><span class="fa fa-ellipsis-v fa-2x"></span></a>  
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="javascript:void(0)" ng-click="showAllProjects=0">
                                    <span class="fa fa-check" ng-class="{'vis-hidden': showAllProjects}"></span>
                                    Nur meine Projekte zeigen
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="showAllProjects=1">
                                    <span class="fa fa-check" ng-class="{'vis-hidden': !showAllProjects}"></span>
                                    Alle Projekte zeigen
                                </a>
                            </li>             
                        </ul>
                    </li> 
                </ul>                                 
            </div>
            <div class="panel-body">  
                <div ng-if="!showAllProjects">  
                    Meine Projekte
                </div>
                <div ng-if="showAllProjects">                      
                    <div s-select model="timeCompany.title" source="treeOPT.companies" source-display="title" function="timeUpdate(item)" title="Firma" drop-menu="true" drop-icon="fa-building-o">
                    </div>
                    <div class="tree tree-list pull-left min-width50 animate-enter" ng-if="treeOPT.selectedComp.projects">
                        <button type="button" class="tree-close" ng-click="resetTreeView()">&times;</button>
                        <ul>
                            <li clickable-tree source="treeOPT.selectedComp" selected="treeOPT.tmpobj.id" function="treeNewentry(source)"></li>
                        </ul>
                    </div>                
                </div>
            </div>           
		</div>
    </div>
    <div class="col-sm-9">
        <div class="panel panel-white no-border-radius">
            <div class="panel-heading">
                <h4>Einträge</h4>
                <ul class="panel-header-actions border-light"> <!-- TIME Menu -->
                    <li class="dropdown">
                        <a class="dropdown-toggle dropdown-options"><span class="fa fa-ellipsis-v fa-2x"></span></a>                        
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="javascript:void(0)" ng-click="treeOPT.editItems=!treeOPT.editItems">
                                    <span class="fa" ng-class="{'fa-pencil-square-o':!treeOPT.editItems, 'fa-check':treeOPT.editItems}"></span> 
                                    <span ng-if="!treeOPT.editItems">Einträge bearbeiten</span><span ng-if="treeOPT.editItems">Bearbeitung beenden</span>
                                </a>                                 
                            </li>             
                        </ul>                        
                    </li>                                       
                    <li ng-if="treeOPT.editItems">
                        <button class="btn-none" ng-click="treeOPT.editItems=0"><span class="fa fa-check fa-2x"></span></button>
                    </li> 
                    <li>
                        <button class="btn-none" ng-click="loadDate(1)"><span class="fa fa-angle-right fa-2x"></span></button>                        
                    </li> 
                    <li>
                        <input type="text" class="form-control width120 margin-top-minus-S" datepicker-popup="dd.MM.yyyy" ng-model="dt" ng-click="open($event, 0)" is-open="opened[0]">
                    </li> 
                    <li>
                        <button class="btn-none" ng-click="loadDate(-1)"><span class="fa fa-angle-left fa-2x"></span></button>                        
                    </li>                   
                    <li ng-if="treeNew.length">
                        <button class="btn-none" ng-click="treeSave()">
                            <span class="icon-save-status" ng-class="treeOPT.treeNewSaved ? 'icon-saved' : 'icon-unsaved'"></span>
                        </button>
                    </li> 
                </ul>                  
            </div>
            <div class="panel-body">                   
                <div class="table-responsive">                        
                    <table ng-if="treeNew.length" class="table table-nonfluid table-vertical-middle">            
                        <thead>
                            <tr>
                                <th>Firma</th>
                                <th>Projekt</th>
                                <th>Zeit</th>
                                <th>Beschreibung</th>
                                <th>Verrechenbar</th>
                                <th ng-if="treeOPT.editItems"></th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr ng-repeat="obj in treeNew track by $index" class="animate-enter" ng-class="{'state-changed':obj.status===3 || obj.status===2, 'state-saved':obj.status===4}">                                
                                <td>{{obj.cmptitle}}</td>
                                <td><span class="label label-primary">{{obj.prjtitle}}</span></td>
                                <td>
                                    <form name="myform" class="form-inline"> 
                                        <input type="text" class="form-control" name="price_field" ng-model="obj.time" ng-pattern="/(^\d{1,2}(?:\.\d{1,2})?$)|(^\d{4}(\-)\d{4})$/" placeholder="Zeit" ng-change="changeStatus(obj)" required>
                                        <div class="input-help" ng-if="myform.price_field.$error.pattern">Format: 4.5 or 1000-1430</div>                                        
                                    </form>
                                </td>
                                <td>                                    
                                    <textarea class="form-control single-line" ng-model="obj.comment" placeholder="Beschreibung" ng-change="changeStatus(obj)"></textarea>
                                </td>
                                <td>
                                    <input id="id_{{$index}}" type="checkbox" ng-model="obj.isBillable" ng-change="changeStatus(obj)"><label class="customCheckbox" for="id_{{$index}}"></label>
                                </td>                                
                                <td ng-if="treeOPT.editItems">
                                    <button type="button" ng-click="treeInputTableCopy(obj, $index)" class="btn btn-primary btn-sm">
                                        <i class="fa fa-files-o padding-right-M"></i>Duplizieren
                                    </button>                                
                                    <button type="button" modal-confirm title="Löschen" text="Eintrag auf Firma {{obj.cmptitle}} und <strong>Projekt {{obj.prjtitle}}</strong> wirklich löschen?" function="treeDelete(obj, $index)" class="btn btn-primary btn-sm">
                                        <i class="fa fa-trash-o padding-right-M"></i>Löschen
                                    </button> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="3"><span class="doubleUnderline">{{displaySum()}}</span></td>   
                                <td ng-if="treeOPT.editItems"></td>                             
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>           
        </div>
    </div>    
</div>              