<div class="row" ng-controller="TimePlaygroundCtrl">
     <div class="col-md-3">  
	    <div arbalo-grid 
	        title="Meeting-Typen" 
	        source="meetingTypes.types" 
	        structure="meetingTypes.structure" 
	        actions="" 
	        row-click="true" 
	        fn="meetingTypesFunction(action, param, data)"    
	        tree-view="true"
	        tree-nodereload="false"
	    ></div>         	            	
     </div>
     <div class="col-md-3">
	    <div ng-if="meetingTypes.colSel.id" arbalo-grid 
	        title="Meetings" 
	        source="meetingOPT.meeting" 
	        structure="meetingOPT.structure" 
	        actions="" 
	        row-click="true" 
	        fn="meetingFunction(action, param, data)"    
	        tree-view="true"
	        tree-nodereload="false"
	    ></div>
     </div>  
     <div class="col-md-6">
        <div ng-if="meetingOPT.colSel.id" class="panel panel-white no-border-radius">
            <div class="panel-heading clearfix">
                <div class="pull-left">
                    <h4>{{meetingOPT.colSel.name}} - Details</h4>
                </div>
            </div>
            <div class="panel-body">
            	<div class="tabs-no-bg tabs-no-padding" ng-if="meetingOPT.colSel.id">
            		<tabset>
						<tab ng-repeat="tab in meetingDetails.items" select="meetingSource(tab)">
							<tab-heading>{{tab.name}}</tab-heading>
							<div ng-if="tab.loaded">
								<doc-list-item folder="meetingDetails.folder" prevent-topnav="true"></doc-list-item>
							</div>
						</tab>
					</tabset>
            	</div>
            </div>
        </div>
     </div>            
</div>