<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-white no-border-radius">
            <div class="panel-heading">
                <h4>Projekte</h4> 
                <ul class="panel-header-actions border-light"> <!-- PROJECTS Menu -->
                    <li class="dropdown">
                        <a class="dropdown-toggle dropdown-options"><span class="fa fa-ellipsis-v fa-2x"></span></a>  
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="javascript:void(0)" ng-click="showAllProjects=0">
                                    <span class="fa fa-check" ng-class="{'vis-hidden': showAllProjects}"></span>
                                     Nur meine Projekte zeigen
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="showAllProjects=1">
                                    <span class="fa fa-check" ng-class="{'vis-hidden': !showAllProjects}"></span>
                                    Alle Projekte zeigen
                                </a>
                            </li>             
                        </ul>
                    </li> 
                </ul>                                 
            </div>
            <div class="panel-body">  
                <div ng-if="!showAllProjects">  
                    Meine Projekte
                </div>
                <div ng-if="showAllProjects">                      
                    <div s-select model="timeCompany.title" source="treeOPT.companies" source-display="title" function="timeUpdate(item)" title="Firma" drop-menu="true" drop-icon="fa-building-o">
                    </div>
                    <div class="tree tree-list pull-left min-width50" ng-if="treeOPT.selectedComp.projects">
                        <button type="button" class="tree-close" ng-click="resetTreeView()">&times;</button>
                        <ul>
                            <li clickable-tree source="treeOPT.selectedComp" selected="treeOPT.tmpobj.id" function="treeNewentry(source)"></li>
                        </ul>
                    </div>                
                </div>
            </div>           
        </div>
    </div>
    <div class="col-sm-9">
        <div class="panel panel-white no-border-radius">
            <div class="panel-heading">
                <h4>Stoppuhr</h4>
                <ul class="panel-header-actions border-light"> <!-- Timer Menu -->
                    <li class="dropdown">
                        <a class="dropdown-toggle dropdown-options"><span class="fa fa-ellipsis-v fa-2x"></span></a>                          
                        <ul class="dropdown-menu" role="menu">
                            <li menu-enabled-disabled source="showListControls" text-show="Bearbeitung aktiv" text-hide="Bearbeitung inaktiv"></li>           
                        </ul>
                    </li>  
                </ul>
            </div>
            <div class="panel-body"> 
                <div class="table-responsive margin-top-M" ng-if="treeNew.length">                        
                    <table class="table table-nonfluid table-vertical-middle">            
                        <thead>
                            <tr><th>Firma</th><th>Projekt</th><th>Aktionen</th><th>Zeit</th><th>Beschreibung</th><th></th></tr>
                        </thead>
                        <tbody>
                             <tr ng-repeat="obj in treeNew track by $index" class="animate-enter">
                                <td>{{obj.cmptitle}}</td>
                                <td><span class="label label-primary">{{obj.prjtitle}}</span></td>
                                <td>
                                <button ng-disabled="checktimer(obj, 'start')" type="button" ng-click="timeTimerstart(obj)" class="btn btn-default">Start <span class="fa fa-caret-right"></span></button>
                                <button ng-disabled="checktimer(obj, 'pause')" type="button" ng-click="timeTimerpause(obj)" class="btn btn-default">Pause <span class="fa fa-pause"></span></button>
                                <button ng-disabled="checktimer(obj, 'stop')" type="button" ng-click="timeTimerstop(obj)" class="btn btn-default">Stop <span class="fa fa-stop"></span></button>
                                </td>
                                <td>
                                    <span ng-if="obj.state!=3">{{calctime(obj)}}</span>
                                    <form name="timerTimeForm" ng-if="obj.state==3">
                                        <input name="timerTime" type="text" class="form-control width60" ng-model="obj.time" ng-pattern="/^([0-9]|[0-9].\d|2[0-4])$/" placeholder="Zeit" required/>
                                        <div class="input-help"  ng-if="timerTimeForm.timerTime.$error.pattern">Format <strong>2.6</strong>, 1 - 24 hours</div> 
                                    </form>
                                </td>
                                <td>
                                    <textarea class="form-control single-line" ng-model="obj.comment" placeholder="Beschreibung"></textarea>
                                </td> 
                                <td>
                                    <button ng-if="showListControls" type="button" modal-confirm title="Löschen" text="Zeiteintrag auf Projekt &quot;{{obj.prjtitle}}&quot; wirklich löschen?" function="itemRemove($index)" class="btn btn-default">
                                        <span class="fa fa-trash-o"></span>
                                    </button>
                                </td>                   
                            </tr>
                        </tbody>
                    </table>            
                </div>
            </div>
        </div>                            
    </div>
</div>                    