/*General classes*/
.ul-unstyled{list-style:none}
.margin-left-L{margin-left:20px}
.margin-right-L{margin-right:20px}
.margin-left-M{margin-left:10px}
.margin-right-M{margin-right:10px}
.margin-top-M{margin-top:10px}
.margin-bottom-M{margin-bottom:10px}
.margin-right-S{margin-right:3px}
.paddingS{padding:3px}
.paddingM{padding:10px}
.inv_table{border:none}
.inv_table td{padding-right:5px}
.pointer{cursor:pointer}
.clear{clear:both}
.box{padding:10px}
.height600{height:600px;overflow:auto}
.height200{height:200px;overflow:auto}
.maxheight600{max-height:600px;overflow:auto}
.maxheight200{max-height:200px;overflow:auto}
.divider-vertical {height: 20px;margin: 0 10px; border-left: 1px dotted #999;}
.nodecoration, .nodecoration:hover{text-decoration:none}

/*BOOTSTRAP*/
/*Bootstrap Callouts*/
.bs-callout {   padding: 20px;    margin: 0px 0px 20px 0px;    border: 1px solid #eee;    border-left-width: 5px;    border-radius: 3px;}
.bs-callout h4 {    margin-top: 0;    margin-bottom: 5px;}
.bs-callout p:last-child {    margin-bottom: 0;}
.bs-callout code {    border-radius: 3px;}
.bs-callout+.bs-callout {    margin-top: -5px;}
.bs-callout-default {    border-left-color: #777;}
.bs-callout-default h4 {    color: #777;}
.bs-callout-primary {    border-left-color: #428bca;}
.bs-callout-primary h4 {    color: #428bca;}
.bs-callout-success {    border-left-color: #5cb85c;}
.bs-callout-success h4 {    color: #5cb85c;}
.bs-callout-danger {    border-left-color: #d9534f;}
.bs-callout-danger h4 {    color: #d9534f;}
.bs-callout-warning {    border-left-color: #f0ad4e;}
.bs-callout-warning h4 {    color: #f0ad4e;}
.bs-callout-info {    border-left-color: #5bc0de;}
.bs-callout-info h4 {    color: #5bc0de;}
/*buttons*/
.button-move-TR{margin-top:-2px;margin-right:-4px}

/*TREE*/
.treewrapper{width:100%;background:#FFF;}
.tree, .tree ul.tree {margin:0;padding:0;list-style:none;}
.tree ul.tree {  margin-left:1.5em;  position:relative;}
.tree ul.tree ul.tree {margin-left:1.5em} 
.tree ul.tree:before { content:"";  display:block;  width:0;  position:absolute;  top:0;  bottom:0;  left:0;  border-left:1px dotted #AAA;}
.tree > li { margin:0;  padding:0 1.5em; line-height:2em;   position:relative;}
.tree ul.tree > li:before {  content:"";  display:block;  width:10px; height:0;border-top:1px dotted #AAA; margin-top:-1px;  position:absolute;top:1em; left:0;}
.tree ul.tree > li:last-child:before { background:#FFF;  height:auto;  top:1em;  bottom:0;}
.treefolder{margin-right:0.3em}

/*Calendar*/
.calendar-wrapper{}
.calendar-projects-wrapper{max-height:500px;overflow:auto;margin-top:10px;background:#F7F7F7;border:1px solid #DDD;border-radius:3px;padding:0px 10px 10px 10px}
.calendar-projects{list-style:none;margin:5px 0px 5px 10px}

/*Chart */

.arbalochart{width:100%;min-height:200px;}
.arbalochart .bars{text-align:center;color:#FFF;border-right:2px solid #FFF;-o-transition:.5s;  -ms-transition:.5s;  -moz-transition:.5s;  -webkit-transition:.5s;  transition:.5s;}
.arbalochart .lines{text-align:right;color:#FFF;border-bottom:2px solid #FFF;height:25px;clear:both;padding-right:5px;-o-transition:.5s;  -ms-transition:.5s;  -moz-transition:.5s;  -webkit-transition:.5s;  transition:.5s;}
.arbalochart .linesstacked{text-align:right;color:#FFF;border-bottom:2px solid #FFF;height:25px;padding-right:5px;float:left}

.floatBars{height:200px}
.chartgroup{border-right:4px solid #FFF}
.chartlegend{border-top:1px solid #DDD;margin-top:10px;float:left;text-align:center;position:relative;margin-bottom:10px;}
.chartlegend_border{position:absolute;border-right:1px solid #DDD;right:0px;top:-5px;height:10px;}
.chartlegend:last-child .chartlegend_border{border:none}

.pie1half{width:40%;float:left;margin-left:10%;overflow:hidden;padding:1% 0 1% 1%}
.pie1{position:relative;width: 200%; height:0; padding-bottom: 200%; border-radius: 50%;overflow:hidden;box-shadow: 1px 1px 2px #AAA;border:2px solid #EEE;}
.pie2{position:relative;width: 200%; height:0; padding-bottom: 200%; border-radius: 50%;overflow:hidden;box-shadow: 1px 1px 2px #AAA;border:2px solid #EEE;right:100%}
.pie2half{width:40%;float:left;margin-right:10%;overflow:hidden;padding:1% 1% 1% 0}
.piedougnut1{position:absolute;width:30%;height:30%;left:35%;top:35%;background:#FFF;z-Index:5000;border-radius:50%;box-shadow:inset 1px 1px 2px #AAA;}
.piedougnut2{position:absolute;width:30%;height:30%;right:35%;top:35%;background:#FFF;z-Index:5000;border-radius:50%;box-shadow:inset 1px 1px 2px #AAA;}
.sliceB{position:absolute;width:100%;height:100%;left:50%;-moz-transform-origin:0 50%;-ms-transform-origin:0 50%;-o-transform-origin:0 50%;-webkit-transform-origin:0 50%;transform-origin: 0 50%;-o-transition:.5s;  -ms-transition:.5s;  -moz-transition:.5s;  -webkit-transition:.5s;  transition:.5s;}		
.slice{	position:absolute;width:50%;height:50%;left:50%;-moz-transform-origin:0 100%;-ms-transform-origin:0 100%;-o-transform-origin:0 100%;-webkit-transform-origin:0 100%;transform-origin: 0 100%;-o-transition:.5s;  -ms-transition:.5s;  -moz-transition:.5s;  -webkit-transition:.5s;  transition:.5s;}
.slice:hover, .sliceB:hover, .arbalochart .bars:hover, .arbalochart .lines:hover{background:#069 !important; -o-transition:.5s;  -ms-transition:.5s;  -moz-transition:.5s;  -webkit-transition:.5s;  transition:.5s;}
.hoversame:hover div{background:#069 !important;-o-transition:.5s;  -ms-transition:.5s;  -moz-transition:.5s;  -webkit-transition:.5s;  transition:.5s;}
.slice p, .sliceB p{position:absolute;top:10%;left:10%;color:#FFF;}	
