<div class="container-fluid">    
	<div class="row">
	    <div class="col-sm-3"><pre class="code">{{ treeOPT.items | json }}</pre></div> 
		<div class="col-sm-6"> 
            <div class="form-inline">   
                <button type="button" class="btn btn-default" ng-click="load_date(-1)"><span class="fa fa-caret-left"></span></button>
                <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="dt" ng-click="open($event, item.$$hashKey)" is-open="opened[item.$$hashKey]">
                <button type="button" class="btn btn-default"  ng-click="load_date(1)"><span class="fa fa-caret-right"></span></button>
                <input ng-model="tree_inputsearch" type="text" placeholder="Filter" class="form-control"> 
                <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Log <span class="badge">{{actionlog.length}}</span></button>
            </div>            
            <div collapse="isCollapsed">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr><th>Time</th><th>Change</th><th>Actions</th></tr>
                    </thead>                
                    <tr ng-repeat="item in actionlog">
                        <td>{{item.time | date:'HH:mm:ss'}} <span class="label label-default" ng-if="$last">Current</span></td>
                        <td>{{item.action}}</td>
                        <td><button class="btn btn-default btn-xs" ng-click="actionlog_load(item)">Load</button></td>
                    </tr>
                </table>
            </div>            
            <table class="table table-condensed table-striped">
            <thead>
                <tr><th>Company</th><th>Projects</th><th>Hours</th><th>Comments</th><th>Actions</th></tr>
            </thead>
            <tbody>
                 <tr ng-repeat="obj in tree_table | filter:tree_inputsearch track by $index">
                    <td><span class="label label-primary">{{obj.path[0].title}}</span></td>
                    <td>
                    <span class="label label-default margin-right-M" ng-repeat="item in obj.path" ng-show="!$first">{{item.title}}</span><span class="label label-default">{{obj.title}}</span></td>
                    <td>
                    <form name="myform" class="form-inline"> 
                        <input type="text" class="form-control input-sm" name="price_field" ng-model="obj.time" ng-pattern="/(^\d{1,2}(?:\.\d{1})?$)|(^\d{4}(\-)\d{4})/" placeholder="Time" ng-blur="actionlog_updatefield('Time')">
                        <div class="alert alert-info" role="alert" ng-show="myform.price_field.$error.pattern">
                            Valid times:<br />
                            1. Hours <strong>1.5</strong><br />2. From-To <strong>1000-1200</strong></span>
                        </div>
                    </form>
                    </td>
                    <td>
                    <input type="text" class="form-control input-sm" ng-model="obj.comment" placeholder="Comment" ng-blur="actionlog_updatefield('Comment')"/>
                    </td>
                    <td>
                        <button type="button" ng-click="tree_input_tableRemove($index)" class="btn btn-default"><span class="fa fa-times"></span></button>
                        <button type="button" ng-click="tree_input_tableCopy(obj, $index)" class="btn btn-default"><span class="fa fa-files-o"></span></button>                    
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="col-sm-3"><pre class="code">{{ tree_table | json }}</pre></div> 
	</div>              
</div>        