.margin-left-L{margin-left:20px}
.margin-left-M{margin-left:10px}
.margin-right-M{margin-right:10px}
.paddingS{padding:1px}
.inv_table{border:none}
.inv_table td{padding-right:5px}
.pointer{cursor:pointer}
.clear{clear:both}
/*TREE*/
.treewrapper{width:100%;border:1px solid #CCC;background:#F7F7F7;border-radius:3px;padding:10px}
.tree, .tree ul.tree {margin:0;padding:0;list-style:none;}
.tree ul.tree {  margin-left:1.5em;  position:relative;}
.tree ul.tree ul.tree {margin-left:1.5em} 
.tree ul.tree:before { content:"";  display:block;  width:0;  position:absolute;  top:0;  bottom:0;  left:0;  border-left:1px dotted #AAA;}
.tree > li { margin:0;  padding:0 1.5em; line-height:2em;   position:relative;}
.tree ul.tree > li:before {  content:"";  display:block;  width:10px; height:0;border-top:1px dotted #AAA; margin-top:-1px;  position:absolute;top:1em; left:0;}
.tree ul.tree > li:last-child:before { background:#F7F7F7;  height:auto;  top:1em;  bottom:0;}
.treefolder{margin-right:0.3em}

/*Calendar*/
.calendar-wrapper{}