<div class="container-fluid"> 
	<div class="row">
		<div class="col-sm-12">    
        	<h1 class="text-center">Selection</h1>
        </div>
	</div>       
   	<div class="row">
        <div class="col-sm-3"></div>    
        <div class="col-md-6">
        	<div class="form-inline">
                <!-- Typehead-->
                <input type="text" ng-model="PeopleSelect" typeahead="person as (person.firstname + ' ' + person.lastname) for person in people | filter:$viewValue" class="form-control">
                <!--Cancel-->
                <button type="button" ng-click="removePerson()" class="btn btn-default"><span class="fa fa-times"></span></button>
                <!--Dropdown-->
                <div class="btn-group" dropdown>
                  <button type="button" class="btn btn-default dropdown-toggle">
                    <span class="fa fa-user"></span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="person in people"><a ng-click="selectPerson(person, 'PeopleSelect')" href="javascript:void(0)">{{person.firstname}} {{person.lastname}}</a></li>
                  </ul>
                </div> 
                <a ng-click="logPerson()" class="btn btn-default"><span class="fa fa-save"> Save Log</span></a>                                          
			</div>
        </div>
        <div class="col-sm-3"></div>        
    </div>  
	<div class="row">
		<div class="col-sm-12">    
        	<h1 class="text-center">Muliple Selection</h1>
        </div>
	</div>       
   	<div class="row">
        <div class="col-sm-3"></div>    
        <div class="col-md-6">
        	<div class="form-inline">
                <!-- Typehead-->
                <input type="text" ng-model="MultiPeopleSelect" typeahead-on-select="updatePeople($item)" typeahead="person as (person.firstname + ' ' + person.lastname) for person in people | filter:$viewValue" class="form-control">
                <!--Cancel-->
                <button type="button" ng-click="removeMultiPerson()" class="btn btn-default"><span class="fa fa-times"></span></button>
                <!--Dropdown-->
                <div class="btn-group" dropdown>
                  <button type="button" class="btn btn-default dropdown-toggle">
                    <span class="fa fa-user"></span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="person in people"><a ng-click="selectMultiPerson(person)" href="javascript:void(0)">{{person.firstname}} {{person.lastname}}</a></li>
                  </ul>
                </div> 
                <a ng-click="logMultiPerson()" class="btn btn-default"><span class="fa fa-save"> Save Log</span></a>  
                <br />
                <div>
                	<ul>
                    <li ng-repeat="person in MultiplePeople">{{person.firstname}} {{person.lastname}} 
                    <button type="button" ng-click="removeMultiSinglePerson(person)" class="btn btn-default btn-xs"><span class="fa fa-times"></span></button></li>
                    </ul>
                </div>                                        
			</div>
        </div>
        <div class="col-sm-3"></div>        
    </div>   
	<div class="row">
		<div class="col-sm-12">    
        	<h1 class="text-center">Input validation</h1>
        </div>
	</div>   
   	<div class="row">
        <div class="col-sm-3"></div>    
        <div class="col-md-6">                                           
			<form name="myform" class="form-inline"> 
		    <input type="text" class="form-control" name="price_field" ng-model="price" ng-pattern="/(^\d{1,2}(?:\.\d{1})?$)|(^\d{4}(\-)\d{4})/">
            <div class="alert alert-info" role="alert" ng-show="myform.price_field.$error.pattern">
            	1. Time as hours (number)  <strong>1.5 | 2 | 4.7</strong> <span class="margin-left-L">2. Time as From-To  <strong>1000-1200 | 0815-1230</strong></span>
            </div>
            </form>
        </div>
        <div class="col-sm-3"></div>        
    </div>             
	<div class="row">
		<div class="col-sm-12">    
        	<h1 class="text-center">Dependency Select</h1>
        </div>
	</div>   
   	<div class="row">
        <div class="col-sm-3"></div>    
        <div class="col-md-6">  
        	<h2>Separate Json</h2>                                         
			<select data-ng-model="option1" data-ng-options="option for option in options1" data-ng-change="getOptions2()"></select>
		    <select data-ng-model="option2" data-ng-options="option for option in options2"></select>
        	<br />
        </div>
        <div class="col-sm-3"></div>        
    </div>     
	<div class="row">
		<div class="col-sm-12">    
        	<h1 class="text-center">Treeview</h1>
        </div>
	</div>        
	<div class="row">    
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
			<script type="text/ng-template" id="categoryTree">
               <div> 
					<span class="treefolder fa fa-folder-o"></span> {{ category.title }}
					<div class="btn-group" dropdown>
						<button type="button" class="btn btn-default btn-xs dropdown-toggle">
							<span class="fa fa-gear"></span>
						</button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation" class="dropdown-header">{{ category.title }}</li>
						<li><a href="javascript:void(0)" ng-click="tree_action(category, 0, 'assign_person')"><span class="text-primary fa fa-user"></span>  Manage people</a></li>
						<li><a href="javascript:void(0)" ng-click="tree_action(category, 0, 'add')"><span class="text-success fa fa-plus"></span>  Add sub-element</a></li>
						<li><a href="javascript:void(0)" ng-click="tree_action(category, 0, 'edit')"><span class="fa fa-pencil"></span> Edit</a></li>
						<li><a href="javascript:void(0)" ng-click="tree_action(parentOBJ, $index, 'delete')"><span class="text-danger fa fa-times"></span> Delete</a></li>						
					</ul>
					</div> 
				</div>				
                <ul class="tree" ng-if="category.people">
					<li ng-repeat="person in category.people"><span class="treefolder fa fa-user"></span> {{person.firstname}} {{person.lastname}}</li>
                </ul>
                <ul class="tree" ng-if="category.categories">
					<li ng-repeat="category in category.categories" ng-include="'categoryTree'" ng-init="parentOBJ=$parent.category"></li>
                </ul>
            </script>
            <div class="treewrapper">
                <button type="button" ng-click="" class="btn btn-success"><span class="fa fa-save"></span> Save</button> 
                <button type="button" ng-click="" class="btn btn-danger"><span class="fa fa-ban"></span> Cancel</button><hr />
                <div class="alert alert-info" role="alert" ng-show="treeOPT.delete_show">
                    {{treeOPT.treeitemDesc}}<br /><br />
                    <button type="button" ng-click="tree_actionExec()" class="btn btn-success"><span class="fa fa-trash-o"></span> Delete</button>
                    <button type="button" ng-click="tree_cleartmp()" class="btn btn-danger"><span class="fa fa-ban"></span> Cancel</button>
                </div>
                <div class="alert alert-info" role="alert" ng-show="treeOPT.assign_person_show">
                   {{ treeOPT.treeitemDesc }}<br /><br />
		        	<div class="form-inline">
        		        <input type="text" ng-model="treeOPT.peopleselect" placeholder="Enter name"
                        typeahead-on-select="updatePeople($item, treeOPT.tmppeople, 'peopleselect')" 
                        typeahead="person as (person.firstname + ' ' + person.lastname) for person in people | filter:$viewValue" class="form-control">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-default dropdown-toggle">
	                            <span class="fa fa-user"></span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
    	                        <li ng-repeat="person in people"><a ng-click="selectMultiPerson(person, treeOPT.tmppeople)" href="javascript:void(0)">{{person.firstname}} {{person.lastname}}</a></li>
                            </ul>
                        </div> 
                        <br />
                        <div>
                            <ul class="list-group">
        	                    <li class="list-group-item" ng-repeat="person in treeOPT.tmppeople"><span class="fa fa-user"></span> {{person.firstname}} {{person.lastname}} 
            	                    <button type="button" ng-click="removeMultiSinglePerson(person, treeOPT.tmppeople)" class="btn btn-default btn-xs"><span class="fa fa-times"></span></button>
                	            </li>
                            </ul>
                        </div>                                        
                    </div>
                    <br />
                    <button type="button" ng-click="tree_actionExec()" class="btn btn-success"><span class="fa fa-save"></span> Save</button>
                    <button type="button" ng-click="tree_cleartmp()" class="btn btn-danger"><span class="fa fa-ban"></span> Cancel</button>                
                </div>                
                <div class="alert alert-info" role="alert" ng-show="treeOPT.addedit_show">
                   {{ treeOPT.treeitemDesc }}<br /><br />
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input type="text" ng-model="treeOPT.catName" class="form-control" placeholder="Enter Name">
                        </div>
                        <button type="button" ng-click="tree_actionExec()" class="btn btn-success"><span class="fa fa-save"></span> Save</button>
                        <button type="button" ng-click="tree_cleartmp()" class="btn btn-danger"><span class="fa fa-ban"></span> Cancel</button>
                    </form>                        	
                </div>
                <ul class="tree">
                    <li><a href="javascript:void(0)" ng-click="tree_action('root', 0, 'add')" class="text-success"><span class="fa fa-plus"></span></a></li>
                    <li ng-repeat="category in treeOPT.items" ng-include="'categoryTree'" ng-init="parentOBJ=treeOPT"></li>
                </ul> 
			</div>
        </div>
        <div class="col-sm-3"><pre class="code">{{ treeOPT.items | json }}</pre></div>        
        <div class="col-sm-3"><pre class="code">{{ treeOPT | json }}</pre></div>        
    </div>                             
	<div class="row">
		<div class="col-sm-12">    
        	<h1 class="text-center">Row Entry</h1>
        </div>
	</div>       
   	<div class="row">
        <div class="col-sm-3"></div>    
        <div class="col-md-6">
        	 <button type="button" ng-click="addRow()" class="btn btn-success"><span class="fa fa-plus"></span> Add entry</button>
             <button type="button" ng-click="logRow()" class="btn btn-default"><span class="fa fa-save"></span> Save Log</button>
 			<table class="table table-condensed">
            	<thead>
                	<tr>
                		<th ng-repeat="colhead in tableValues.rows[0]">{{colhead.title}}</th>
                   		<th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in tableValues.rows track by $index">
                        <td ng-repeat="(i, item) in row">
                        <input ng-if="item.type=='text'" type="text" class="form-control" ng-model="item.value">
                        <input ng-if="item.type=='date'" type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="item.value" ng-click="open($event, item.$$hashKey)" is-open="opened[item.$$hashKey]">
	                    <form ng-if="item.type=='time'" name="myFormValidator">
                        	<input type="text" name="myFieldValidator" class="form-control" ng-model="item.value" ng-pattern="/(^\d{1,2}(?:\.\d{1})?$)|(^\d{4}(\-)\d{4})/"> 
                            <div class="alert alert-info" role="alert" ng-show="myFormValidator.myFieldValidator.$error.pattern">
                                Hours <strong>1.5</strong><br />2. From-To <strong>1000-1200</strong>
                            </div>                                                   
                        </form>
                        <input ng-if="item.type=='peopleselect'" type="text" ng-model="item.value" typeahead="person as (person.firstname + ' ' + person.lastname) for person in people | filter:$viewValue" class="form-control">
                        </td>
                        <td ng-if="row.length==4">
                            <button type="button" ng-click="tableRemove($index)" class="btn btn-default"><span class="fa fa-times"></span></button>
                            <button type="button" ng-click="tableCopy($index)" class="btn btn-default"><span class="fa fa-files-o"></span></button>
                        </td>
                    </tr>
                </tbody>
			</table>
        </div>
        <div class="col-sm-3"></div>        
    </div>                   
</div>        