<div class="row">    
    <div class="col-sm-3">
        <div class="panel panel-white no-border-radius">
            <div class="panel-heading">
            	<h4>Stundensätze</h4>
                <ul class="panel-header-actions border-light"> <!-- RATES Menu -->
                    <li class="dropdown">
                        <a class="dropdown-toggle dropdown-options"><span class="fa fa-ellipsis-v fa-2x"></span></a>   
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="javascript:void(0)" ng-click="addRate()"><span class="fa fa-plus"></span> Neuer Stundensatz</a>     
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="ratesTMP.ratesEdit=!ratesTMP.ratesEdit">
                                    <span class="fa" ng-class="{'fa-pencil-square-o':!ratesTMP.ratesEdit, 'fa-check':ratesTMP.ratesEdit}"></span> 
                                    <span ng-if="!ratesTMP.ratesEdit">Stundensätze bearbeiten</span><span ng-if="ratesTMP.ratesEdit">Bearbeiten beenden</span>
                                </a>                                 
                            </li>             
                        </ul>
                    </li> 
                    <li ng-if="ratesTMP.view">
                        <button class="btn-none margin-right-M" ng-click="rateCancel()"><span class="fa fa-times fa-2x"></span></button>
                        <button class="btn-none" ng-disabled="addrateForm.$invalid" ng-click="rateSave()"><span class="fa fa-check fa-2x"></span></button>                       
                    </li>                     
                    <li ng-if="ratesTMP.ratesEdit && !ratesTMP.view">
                        <button class="btn-none" ng-click="rateRestore()"><span class="fa fa-check fa-2x"></span></button>
                    </li> 
                </ul>                    
            </div>
            <div class="panel-body no-padding panel-list-group">        
            	<form name="addrateForm" class="form-spacer">
                    <div class="animate-enter padding-M" ng-if="ratesTMP.view">        	                    
                        <input name="rateTitle" type="text" ng-model="ratesTMP.tmpobj.title" class="form-control" placeholder="Title" required>
                        <div class="input-help" ng-if="addrateForm.rateTitle.$error.required">Field is required</div>
                        <select name="rateCurrency" class="form-control" ng-model="ratesTMP.tmpobj.currency" required>
                            <option value="" disabled selected>Currency</option>
                            <option value="CHF">CHF</option>
                            <option value="EUR">EUR</option>
                            <option value="USD">USD</option>
                        </select>
                        <div class="input-help" ng-if="addrateForm.rateCurrency.$error.required">Field is required</div>
                        <input type="text" ng-model="ratesTMP.tmpobj.rate" class="form-control" name="R_Rate" placeholder="Rate" ng-pattern="/^[+]?\d+([.]\d+)?$/" required>
                        <div class="input-help" ng-if="addrateForm.R_Rate.$error.pattern || addrateForm.R_Rate.$error.required">Only numbers - Field is Required</div>
                        <textarea name="R_Description" ng-model="ratesTMP.tmpobj.description" class="form-control" rows="2" placeholder="Description"></textarea>
                    </div>
                </form>
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="rate in ratesTMP.rates">
                        <h4 class="list-group-item-heading">{{rate.title}} <small>{{rate.currency}} {{rate.rate}}</small>
                            <div class="pull-right" ng-if="ratesTMP.ratesEdit">
                                <button class="btn-none" ng-click="rateEdit(rate, $index)">
                                    <span class="fa fa-pencil margin-right-S"></span>                        
                                </button>
                                <button class="btn-none" modal-confirm title="Löschen" text="Stundensatz &quot;{{rate.title}}&quot; wirklich löschen?" function="rateDelete(rate.id, $index)">
                                    <span class="fa fa-trash-o"></span>
                                </button>                                
                            </div>
                        </h4>
                    </div>
                </div>                                   
            </div>
        </div>  
    </div>
    <div class="col-sm-9">
        <div class="panel panel-white no-border-radius">
            <div class="panel-heading">
            	<h4>Projekte</h4>          
            </div>
            <div class="panel-body">                 
                <div s-select model="timeCompany.title" source="treeOPT.companies" source-display="title" function="showTree(item)" title="Firma" drop-menu="true" drop-icon="fa-building-o"></div>
                <div class="tree tree-list pull-left min-width33 animate-enter" ng-if="treeOPT.selectedComp.projects">
                    <button type="button" class="tree-close" ng-click="resetTreeView()">&times;</button>
                    <ul>
                        <li clickable-tree source="treeOPT.selectedComp" selected="treeOPT.tmpobj.id" function="editTreebranch(source)"></li>
                    </ul>
                </div>               
                <div class="animate-enter padding-M margin-left-M pull-left min-width33 border position-relative" ng-if="treeOPT.addeditShow">                    
                    <button type="button" class="tree-close" ng-click="closeEditField()">&times;</button>
                    <tabset>
                        <tab ng-if="!treeOPT.tmpobj.isCompany">                                <!-- EDIT -->
                            <tab-heading><i class="fa fa-pencil fa-lg"></i></tab-heading>
                            <h4>Bearbeiten <small>{{treeOPT.tmpobj.title}}</small></h4>
                            <form name="editTitleForm" class="form-spacer">
                                <input name="editTitle" type="text" class="form-control" ng-model="treeOPT.currProj.projectName" placeholder="Name" required>
                                <div class="input-help" ng-if="editTitleForm.editTitle.$error.required">Eingabe ist erforderlich</div>
                                <textarea class="form-control" ng-model="treeOPT.tmpobj.description" placeholder="Beschreibung"></textarea>
                            </form>   
                            <button class="btn btn-default pull-right margin-left-S" type="button" ng-click="editProject()" ng-disabled="editTitleForm.$invalid">
                                <span class="fa fa-check"></span>
                            </button>
                            <button class="btn btn-default pull-right" modal-confirm icon="fa-trash-o" title="Confirm" function="deleteSubProjects()"
                            text="Delete Project <strong>{{treeOPT.tmpobj.title}}</strong> with {{treeOPT.tmpobj.projects.length || 'no'}} Sub-Projects?">
                                <span class="fa fa-trash-o"></span>
                            </button>                                                       
                        </tab>
                        <tab>
                            <tab-heading><i class="fa fa-sitemap fa-lg"></i></tab-heading>           <!-- ADD -->
                            <h4>Neues Teil-Projekt <small>{{treeOPT.tmpobj.title}}</small></h4>
                            <form name="newChildForm" class="form-spacer">
                                <input name="newChildTitle" type="text" ng-model="treeOPT.newProj.title" class="form-control" placeholder="Projekt" required>
                                <div class="input-help" ng-if="newChildForm.newChildTitle.$error.required">Eingabe ist erforderlich</div>
                                <textarea class="form-control" ng-model="treeOPT.newProj.description" placeholder="Beschreibung"></textarea>
                                <button class="btn btn-default pull-right" type="button" ng-click="addNewProject()" ng-disabled="newChildForm.$invalid">
                                    <span class="fa fa-check"></span>
                                </button>

                            </form>                            
                        </tab>                        
                        <tab ng-if="!treeOPT.tmpobj.isCompany">                                <!-- People -->
                            <tab-heading><i class="fa fa-users fa-lg"></i></tab-heading>
                            <h4>Mitarbeiter <small>{{treeOPT.tmpobj.title}}</small></h4>
                            <div class="form-inline margin-bottom-S">
                                <input type="text" ng-model="treeOPT.peopleselect" placeholder="Person" typeahead-on-select="updatePeople($item, treeOPT.tmpobj.people, 'peopleselect')" typeahead="person as (person.firstname + ' ' + person.lastname) for person in people | filter:$viewValue" class="form-control">
                                <div class="btn-group" dropdown>
                                    <button type="button" class="btn btn-default dropdown-toggle">
                                        <span class="fa fa-user"></span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="person in people">
                                            <a ng-click="selectMultiPerson(person, treeOPT.tmpobj.people)" href="javascript:void(0)">{{person.firstname}} {{person.lastname}}</a>
                                        </li>
                                    </ul>
                                </div>                                 
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="person in treeOPT.tmpobj.resources">
                                    {{person.firstName}} {{person.lastName}} 
                                    <button type="button" ng-click="removeMultiSinglePerson(person, treeOPT.tmpobj.people)" class="btn-none pull-right">
                                        <span class="fa fa-trash-o"></span>
                                    </button>
                                </li>
                            </ul>                                                
                        </tab>
                        <tab ng-if="!treeOPT.tmpobj.isCompany">   <!-- Rates -->
                            <tab-heading><i class="fa fa-money fa-lg"></i></tab-heading>
                            <h4>Stundensätze <small>{{treeOPT.tmpobj.title}}</small></h4>
                            <select class="form-control" ng-model="treeOPT.tmpobj.rate" ng-options="rate.id as (rate.title + ' - ' + rate.currency + ' ' + rate.rate) for rate in ratesTMP.rates">
                                <option value='' disabled selected>Stundensatz wählen</option>
                            </select>
                        </tab>                        
                    </tabset>                                    
                </div>                 
            </div>
        </div>
    </div>               
</div>  