<div class="row">    
    <div class="col-sm-3">
        <div class="panel panel-default maxheight600">
            <div class="panel-heading">
            	<h3 class="panel-title">
                	Rates
                    <button type="button" class="btn btn-primary btn-xs pull-right button-move-TR" ng-click="addRate()"><span class="fa fa-plus"></span> New Rate</button>
                </h3>
            </div>
            <div class="panel-body">        
            	<div class="bg-info paddingM margin-bottom-M" ng-if="ratesTMP.view">        	
                    <form name="Rate_Form" class="form-horizontal" role="form" ng-submit="rateSave()">
                        <div class="form-group">
                            <label for="R_Title" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="ratesTMP.tmpobj.title" class="form-control" placeholder="Title" required>
                            </div>
    
                            <label for="R_Rate" class="col-sm-2 control-label">Rate</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="ratesTMP.tmpobj.rate" class="form-control" name="R_Rate" placeholder="Rate" ng-pattern="/^[+]?\d+([.]\d+)?$/" required>
                                   <p class="text-danger" ng-show="Rate_Form.R_Rate.$error.pattern">
                                        Only numbers allowed
                                    </p>
                            </div>
                            <label for="R_Description" class="col-sm-2 control-label">Text</label>
                            <div class="col-sm-10">
                                <textarea name="R_Description" ng-model="ratesTMP.tmpobj.description" class="form-control" rows="2" placeholder="Description"></textarea>
                            </div>                                
                        </div>
                        <button type="submit" class="btn btn-success" ng-disabled="Rate_Form.$invalid"><span class="fa fa-save"></span> Save</button>
                        <button type="button" ng-click="rateCancel()" class="btn btn-danger"><span class="fa fa-ban"></span> Cancel</button>
                    </form>
                </div>
            	<table class="inv_table">
                    <tr ng-repeat="rate in rates">
                        <td>{{rate.title}}</td>
                        <td>{{rate.rate}}</td>
                        <td>
                        <button type="button" ng-click="rateEdit(rate, $index)" class="btn btn-default btn-xs"><span class="fa fa-pencil"></span></button>
                        <button type="button" modal-confirm title="Confirm" text="Delete Rate &quot;{{rate.title}}&quot;?" function="rateDelete($index)" class="btn btn-default btn-xs"><span class="fa fa-trash"></span></button>
                        </td>	                        
                    </tr>
                </table>                    
            </div>
        </div>  
    </div>
    <div class="col-sm-9">
        <div class="panel panel-default height600">
            <div class="panel-heading">
            	<h3 class="panel-title">
                	Projects                         
                    <button type="button" class="btn btn-success btn-xs pull-right button-move-TR" ng-click=""><span class="fa fa-save"></span> Save</button>
                    <div class="divider-vertical pull-right"></div>
                    <a href="javascript:void(0)" class="nodecoration pull-right" ng-model="treeOpt.treeRatesView" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                    	<span class="fa fa-usd"></span>
                        <span ng-if="!treeOpt.treeRatesView" class="fa fa-toggle-off"></span>
                        <span ng-if="treeOpt.treeRatesView" class="fa fa-toggle-on"></span>                            
                    </a>
                    <a href="javascript:void(0)" class="nodecoration pull-right margin-right-L" ng-model="treeOpt.treePeopleView" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                    	<span class="fa fa-user"></span>
                        <span ng-if="!treeOpt.treePeopleView" class="fa fa-toggle-off"></span>
                        <span ng-if="treeOpt.treePeopleView" class="fa fa-toggle-on"></span>                              
                    </a>
                </h3>
            </div>
            <div class="panel-body"> 
                <div class="form-inline margin-bottom-M">
                    <input type="text" ng-model="timeCompany.title"  class="form-control"
                    typeahead-on-select="showTree($item)" typeahead="company as item.title for item in treeOPT.items | filter:$viewValue" typeahead-min-length="3">
                    <button type="button" ng-click="timeCompany=null;selectedComp={}" class="btn btn-default"><span class="fa fa-times"></span></button>                        
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle">
                        <span class="fa fa-building-o"></span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" role="menu">
                        <li ng-repeat="item in treeOPT.items"><a ng-click="showTree(item)" href="javascript:void(0)">{{item.title}}</a></li>
                        </ul>
                    </div>                                 
                </div>
                   
				<script type="text/ng-template" id="categoryTree">
                   <div> 
                        <div class="pull-left pointer margin-right-M" ng-click="treeToggleChildren(obj)">
                            <span class="treefolder fa" ng-class="{'fa-caret-down' : obj.childrenVisible && obj.children.length, 'fa-caret-right' : !obj.childrenVisible && obj.children.length}"></span>
							<span ng-class="obj.type=='company' ? 'label label-primary' : 'label label-default'">{{ obj.title }}</span>
                        </div>
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle">
                                <span class="fa fa-gear"></span>
                            </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="dropdown-header">{{ obj.title }}</li>
                            <li ng-if="treeOpt.treePeopleView && obj.type=='project'">
                                <a href="javascript:void(0)" ng-click="treeAction(obj, 0, 'assign_person')"><span class="text-primary fa fa-user"></span>  Manage people</a>
                            </li>
                            <li ng-if="obj.type=='company'"><a href="javascript:void(0)" ng-click="treeAction(obj, 0, 'add')"><span class="text-success fa fa-plus"></span>  Add project</a></li>						
                            <li ng-if="obj.type=='project'"><a href="javascript:void(0)" ng-click="treeAction(obj, 0, 'add')"><span class="text-success fa fa-plus"></span>  Add sub-project</a></li>						
                            <li ng-if="obj.type=='project'"><a href="javascript:void(0)" ng-click="treeAction(obj, 0, 'edit')"><span class="fa fa-pencil"></span> Edit</a></li>
                            <li ng-if="obj.type=='project'"><a href="javascript:void(0)" ng-click="treeAction(parentOBJ, $index, 'delete')"><span class="text-danger fa fa-times"></span> Delete</a></li>						
                            <li ng-if="obj.children.length"><a href="javascript:void(0)" ng-click="treetoggleBranchAll(obj)"><span class="fa fa-arrow-down"></span> Expand all</a></li>
                        </ul>
                        </div> 
                    </div>				
                    <ul class="tree" ng-if="obj.people && treeOpt.treePeopleView && obj.childrenVisible">
                        <li ng-repeat="person in obj.people">
                            <span class="treefolder fa fa-user"></span> <span class="label label-success">{{::person.firstname}} {{::person.lastname}}</span> 
                            <span ng-if="treeOpt.treeRatesView"> 
								@ <select ng-model="person.rate" ng-options="item.id as (item.title + ' ' + item.rate) for item in rates"><option value=''>Select Rate</option></select>
							</span>
                        </li>
                    </ul>
                    <ul class="tree" ng-if="obj.children && obj.childrenVisible">
                        <li ng-repeat="obj in obj.children" ng-include="'categoryTree'" ng-init="parentOBJ=$parent.obj"></li>
                    </ul>
                </script>
                <div class="treewrapper">
                    <div class="alert alert-info" role="alert" ng-show="treeOPT.deleteShow">
                        {{treeOPT.treeitemDesc}}<br /><br />
                        <button type="button" ng-click="treeActionExec()" class="btn btn-success"><span class="fa fa-trash-o"></span> Delete</button>
                        <button type="button" ng-click="treeCleartmp()" class="btn btn-danger"><span class="fa fa-ban"></span> Cancel</button>
                    </div>
                    <div class="alert alert-info" role="alert" ng-show="treeOPT.assignPersonshow">
                       {{ treeOPT.treeitemDesc }}<br /><br />
                        <div class="form-inline">
                            <input type="text" ng-model="treeOPT.peopleselect" placeholder="Enter name"
                            typeahead-on-select="updatePeople($item, treeOPT.tmppeople, 'peopleselect')" 
                            typeahead="person as (person.firstname + ' ' + person.lastname) for person in people | filter:$viewValue" class="form-control">
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle">
                                    <span class="fa fa-user"></span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="person in people"><a ng-click="selectMultiPerson(person, treeOPT.tmppeople)" href="javascript:void(0)">{{person.firstname}} {{person.lastname}}</a></li>
                                </ul>
                            </div> 
                            <br />
                            <div>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="person in treeOPT.tmppeople"><span class="fa fa-user"></span> {{person.firstname}} {{person.lastname}} 
                                        <button type="button" ng-click="removeMultiSinglePerson(person, treeOPT.tmppeople)" class="btn btn-default btn-xs"><span class="fa fa-times"></span></button>
                                    </li>
                                </ul>
                            </div>                                        
                        </div>
                        <br />
                        <button type="button" ng-click="treeActionExec()" class="btn btn-success"><span class="fa fa-save"></span> Save</button>
                        <button type="button" ng-click="treeCleartmp()" class="btn btn-danger"><span class="fa fa-ban"></span> Cancel</button>                
                    </div>                
                    <div class="alert alert-info" role="alert" ng-show="treeOPT.addeditShow">
                       {{ treeOPT.treeitemDesc }}<br /><br />
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input type="text" ng-model="treeOPT.catName" class="form-control" placeholder="Enter Name">
                            </div>
                            <button type="button" ng-click="treeActionExec()" class="btn btn-success"><span class="fa fa-save"></span> Save</button>
                            <button type="button" ng-click="treeCleartmp()" class="btn btn-danger"><span class="fa fa-ban"></span> Cancel</button>
                        </form>                        	
                    </div>                        
                    <ul class="tree">
                        <li ng-repeat="obj in selectedComp" ng-include="'categoryTree'" ng-init="parentOBJ=selectedComp"></li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>               
</div>                                               
       